<!DOCTYPE html>
<html>

<head>
    <%- include('partials/head') %>
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container">
            <div class="jumbotron">
                <h1>Oxford Dictionary</h1>
                <p class="h4">Search for meaning and etymology of words.</p>
            </div>
            <form id="form">
                <div class="form-group col-auto">
                    <label for="word" ">Search Oxford Dictionary:</label><br>
                    <input type=" text" class="form-control" id="word" name="word">
                        <small class="form-text text-muted">Try to enter a word in English.</small>
                        <button type="submit" class="btn btn-primary" name="submit">Search</button>
                </div>
            </form>
            <div class="row" id="list">
                <div class="col-lg-12">
                    <div class="list-group">
                    </div>
                </div>
            </div>
            <%- include('partials/footer') %>
        </div>
        <script src="javascripts/script.js"></script>
</body>

</html>